.checkout-page-body{
   margin-right: auto;
   margin-left: auto;
   z-index: 1;

   width: 1100px;
   margin-top: 140px;
}

.checkout-header{
  position: fixed;
  width: 1100px;
  z-index: 20;
  top:0;
  
  display: flex;
  flex-direction: row;


  justify-content: space-between;
  align-items:center;

  background-color: white;

}

.checkout-header-left-section{
  flex:1;
}

.checkout-header-middle-section{
  flex:6;
  display: flex;

  justify-content: center;
}

.checkout-header-right-section{
  flex:1;

  display: flex;

  justify-content: end;
}

.amazon-checkout-header-logo{
  margin-top: 20px;
  width: 100px;
}

.checkout-header-checkout-text{
   font-size: 25px;
   font-family: Roboto;
   font-weight: 500;
}

.checkout-quantity-value{
  color: rgb(23, 154, 187);
}

.checkout-header-lock-icon{
  width: 18px;
}

.checkout-page-title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}


.checkout-page-main-container{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 2.1fr 1fr;
  column-gap: 1%;
}

@media (max-width: 1000px){
  .checkout-page-main-container{
    display: flex;
    flex-direction: column-reverse;
  }
  
  .checkout-page-body{
    max-width: 500px;
  }
  
  .checkout-header{
    max-width: 500px;
  }

  .checkout-order-summary-container{
    margin-bottom: 10px;
  }

}

.checkout-order-list-container{
  display: grid;
  grid-template-rows: 1fr ;
  row-gap: 10px;

}

.checkout-item-container{
  border: 1px rgb(185, 183, 183) solid;
  border-radius: 5px;
}

.checkout-item-delivery-date{
  font-size: 19px;
  font-weight: 700;
  color: rgb(4, 134, 4);

  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.checkout-item-details-grid{
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;

  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  column-gap: 20px;
}

.checkout-item-image{
  width: 100%;
} 

.checkout-item-name{
   margin-bottom: 10px;

   font-weight: bold;
   font-family: Roboto;
}

.checkout-item-price{
  margin-bottom: 10px;
  
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  color: rgb(153, 6, 6);
}

.choose-delivery-option-text{
  margin-bottom: 15px;

  font-size: 16px;
  font-family: Roboto;
  font-weight: bold;
}

.choose-delivery-date-option-box{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
}

.delivery-date-option{
  height: 40px;

  display: grid;
  grid-template-columns: 1fr 8fr;
}

.delivery-date-radio-box{
  display: flex;
}

.delivery-date-radio-box input[type="radio"] {
  width: 20px;
  margin-left: 0px;
}



.checkout-order-summary-container{
  border: 1px rgb(185, 183, 183) solid;
  border-radius: 5px;
  height: 340px;  
}

.order-summary-header-text{
  margin:20px;
  margin-bottom: 12px;
  font-size: 19px;
  font-weight: bold;
}

.order-summary-items-grid,.order-summary-shipping-grid{
  display: grid;
  grid-template-columns: 8fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: Roboto;
}

.order-summary-non-tax-price-grid,.order-summary-taxed-price-grid{
  display: grid;
  grid-template-columns: 8fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: Roboto;


}

.order-summary-non-tax-price-grid{ 
  margin-top: 20px;
}

.order-summary-taxed-price-grid{
padding-bottom: 8px;    
border-bottom: 1px rgb(212, 209, 209) solid;
}

.order-summary-order-total-grid{
  display: grid;
  grid-template-columns: 8fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;  
  font-weight: bold;
  color: rgb(161, 6, 6);
  font-family: Roboto;
}

.order-payment-option{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 20px;
  margin-bottom:0px;
}

.summary-paypal-checkbox{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.place-your-order-container{
    margin-bottom: -20px;
}

.place-your-order-button{
  width: 310px;
  height: 40px;
  background-color: rgb(255, 220, 65);

  border-radius: 8px;
  border-style: none;
}

.delete-quantity-link{
  color: rgb(28, 145, 255);
}

.delete-quantity-link:hover{
  
  cursor: pointer;
}

